<section class="max-w-[1240px] w-full m-auto px-[20px] pb-[150px] box-border flex flex-col items-center gap-[60px] text-center
  lg:flex-row lg:text-left lg:gap-[91px]">
  <div class="flex flex-col justify-center gap-[40px] items-center lg:items-start">
    <h1 class="text-[36px] sm:text-[48px] lg:text-[66px]">You don’t have to Fight them Alone.</h1>
    <h2 class="text-white-rgba-03">
      Lorem ipsum dolor sit amet consectetur adipiscing elit blandit, curabitur
      sodales conubia ut inceptos faucibus himenaeos tortor eget, hac massa
      gravida arcu interdum proin curae.
    </h2>
    <label class="bg-gray-light max-w-[438px] min-w-[280px] h-[74px] p-[6px] rounded-[43px] flex items-center justify-between box-border">
      <img src="./src/img/icons/mail.svg" alt="" class="bottom-0 pl-3 opacity-[0.3]" />
      <input
        type="email" placeholder="Enter your email address"
        class="bg-transparent text-white-rgba-03 min-w-[150px] max-w-[200px] focus:outline-none focus-visible:none"/>
      <button class="bg-yellow h-[62px] min-w-[100px] max-w-[137px] rounded-[43px] text-black font-bold active:scale-[0.95]">
        Let’s Talk
      </button>
    </label>
  </div>
 <div class="max-w-[470px] min-w-[280px] w-full">
    <div class="relative rounded-[55px] overflow-hidden">
      <img src="./src/img/pictures/man.png" alt="person" class="object-bottom object-cover	" />
      <img src="./src/img/pictures/f.svg" alt="rectangle" class="absolute bottom-0 z-[-1]"/>
    </div>
 </div>
</section>