<header class="bg-black-dark w-full ">
  <nav class="
    max-w-[1240px] w-full px-[20px] m-auto 
    flex justify-between items-center 
    font-bold text-white
    mb-[60px] lg:mb-0">
    <div>
      <a href="#">
        <img src="./src/img/icons/logo.svg" alt="logo" />
      </a>
    </div>
    <div class="hidden lg:block">
      <ul class="flex gap-10 whitespace-nowrap">
        <li class="hover:opacity-80"><a href="#"> Home</a></li>
        <li class="hover:opacity-80"><a href="#"> Attorneys</a></li>
        <li class="hover:opacity-80"><a href="#"> Practice Areas</a></li>
        <li class="hover:opacity-80"><a href="#"> About Us</a></li>
      </ul>
    </div>
    <button
      class="border border-white px-9 py-3 whitespace-nowrap hover:bg-gray-dark"
    >
      Contact Now
    </button>
  </nav>
</header>