<section class="max-w-[1240px] w-full m-auto px-[20px] py-[30px] mb-[150px] text-center flex flex-col items-stretch gap-[60px] relative lg:flex-row lg:gap-[200px] lg:text-left">
  <div class="flex-1">
    <h2 class="text-[36px] sm:text-[48px] lg:text-[54px]">Let’s Introduce
      Ourself</h2>
  </div>
  <!-- <div class="hidden h-full w-[2px] bg-white-rgba-03 absolute left-[50%] top-0 bottom-0 lg:block"></div> -->
  <div class="flex-1">
    <h3 class="text-[32px] mb-[20px] ">Criminal Lawyer</h3>
    <p class="text-[18px]">Amet minim mollit non deserunt ullamco est
      sit aliqua dolor do amet sint. Velit officia consequatduis
      enim velit mollit Exercitation.</p>
  </div>
</section>